router bgp {{ asn }}
  router-id 10.0.0.1
  neighbor PEERS peer-group
  neighbor PEERS remote-as external
  neighbor 10.10.1.1 peer-group PEERS
  address-family ipv4
    neighbor PEERS activate
  exit-address-family
