system {
    host-name {{ device }};
}
routing-options {
    router-id 10.0.0.1;
    autonomous-system {{ asn }};
}
protocols {
    bgp {
        group PEERS {
            type external;
{%- for peer in peers %}
            neighbor {{ peer.ip }} {
                description {{ peer.description }};
                peer-as {{ peer.asn }};
            }
{%- endfor %}
        }
    }
}
